@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}    
main, header{
    background-color: #2F404F;    
    
}
main{
    height: calc(100% - 129.2px);
}
body{    
   height:100vh;
}

nav{
    display: flex;
    justify-content: end;
    color: #C7DAD3;
    font-size: 2.3rem;   
    font-family: 'Inter', sans-serif;    
    margin-right: 4rem;
}

.titulo>img{    
    max-width: 470px;
    height: 72px;
}

#animation{
    width: 375px;
    height: 400px;
}

.container-inicio{
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 9rem; 
    height: 100%;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem ;
}
.button{
    border-radius: 24px;
    font-size: 24px;
    width: 343px;
    height: 77px;
    border: none;
    font-family: 'Inter', sans-serif;  
}
.button-primary{
    background-color: #B7DF69;
    color: #448C54;
}
.button-primary:hover{
    background-color:#8ABE61;
    color: #fff7ec;
}
.button-secondary{
    background-color: #2F404F;
    border: solid 1px #35909D;
    color: #A8EAD5;
}
.button-secondary:hover{
    background-color: #095D6A ;
    border: solid 1px #2F404F;
    color: #D2E2E2;
}
.modal-content{
    border-width: 0px !important; 
}
.modal-header{
    background-color: #2F404F;
    color: #D2E2E2;    
    border-bottom:3px solid #095d6a77 !important;
}
.modal-footer{
    background-color: #2F404F;
    border-top:3px solid #095d6a77 !important;
}

.modal-body{    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F404F;    
}
.characters{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.zoom {        
    transition: transform .2s; /* Animation */    
}
  
.zoom:hover {
   transform: scale(1.17);
   cursor: pointer;
}

footer{
    background-color: #2C2627;
    color: #F8F3E6;    
    height: 74px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>span>a{
text-decoration: none;
color: #F8F3E6;    
}





